html, 
body,
div#root,
.chat-container,
.chat-room-list-container,
.chat-room-log-container {
	height: 100%;
}

*:focus {
    box-shadow: inherit !important
}

body {
	color: black;
	overflow-y: hidden;
}

.chat-room-list-container
.spinner {
    margin-top: 20px;
    text-align: center;
}

.preloader-screen {
	height: 100%;
    text-align: center;
}

.preloader-screen > div {
	width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.chat-header {
	position: relative;
    height: 70px;
    background: #343a40;
    color: white;
    box-shadow: 0 0px 4px #2f2f2f;
    z-index: 999;
}

.chat-header .row {
	height: 100%;
}

.chat-header-user-account-info
.profile-image img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.chat-header-user-account-info
.profile-image {
	float: left;
}

.chat-header-user-account-info
.profile-description p {
	margin: 0px;
	line-height: 20px;
}

.chat-header-user-account-info
.profile-description p:last-child {
    color: gray;
    font-size: 80%;
}

.chat-header-user-account-info
.profile-actions {
	vertical-align: top;
    height: 40px;
}

.chat-header-user-account-info
> div {
	display: inline-block;
}

.chat-room-list-container {
	margin-top: -70px !important;
	padding-top: 70px;
}

.chat-room-list {
    background: url(images/tic-tac-toe.png);
}

.chat-room-list-expand {
	display: none;
	position: absolute;
    bottom: -44px;
    right: 20px;
    box-shadow: 0 2px 3px 0px #969696;
    z-index: 999;
}

@media all and (max-width: 576px) {

     .chat-room-list { 
     	height: 0px; 
     	transition: height 0.5s ease;
     }
     .chat-room-list.expanded { 
     	height: 240px; 
     }
     .chat-room-list-expand {
     	display: block;	
     }
}

.chat-room-list-element {
    position: relative;
    min-height: 61px;
	padding: 10px;
    background: whitesmoke;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
}

.room-unread-count-container {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
}

.chat-room-list-element:hover {
    background: #eaeaea;
}

.chat-room-list-element.selected {
    background: #e4d7d7;
}

.chat-room-log-container {
    overflow-y: hidden;
	background: #f9f9f9;
	box-shadow: 0 0 3px 0px rgba(0,0,0,0.5);
}

.chat-room-log-container
.header-message {
    padding: 10px;
    width: 100%;
    animation: translateFromTop 1s ease-in-out;
}

.system-messages {
    width: 40%;
    position: absolute;
    z-index: 999;
    right: 2%;
}

.chat-room-log-container
.header-message
.toast {
    opacity: 1;
}

.chat-room-log-container
.header-message.active {
    top: 0px;
}

.chat-room-log-container
.header-message.error
.toast-header {
    color: white;
    background: #ce5757;
}

.chat-room-log {
    position: relative;
    width: 100%;
    height: 100%;
    word-wrap: break-word;   
}

.chat-room-log
.placeholder {
    background: url(images/shutterstock_432284371.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 312px 233px;
    background-position: center;
}

.chat-room-messages {
    /*background: url(images/LogoANK.png);*/
    background: url(images/full-bloom.png);
    height: 100%;
    padding-bottom: 61px;
    margin-bottom: -61px;
    transition: all 0.1s ease;
}

.wrapper.current-date
.chat-room-log-d-label {
    opacity: 0;
}

.wrapper.current-date.visible
.chat-room-log-d-label {
    opacity: 0.6;
}

.chat-room-log-d-label {
    position: static;
    position: sticky;
    top: 5px;
    opacity: 0.6;
    margin-top: 5px;
    transition: all 0.4s ease;
    z-index: 990;
}

.chat-room-log-d-label
.inner-date-container {
    position: relative;
    left: 0px;
    transition: all 0.5s ease;
}

.wrapper.current-date
.inner-date-container {
/*    left: 50px;
    top: -5px;*/
/*    border-radius: 0px 0px 10rem 10rem;
    background-color: #343a40;*/
}

.chat-room-input {
    position: relative;
}

.chat-room-input 
.input-group {
    background: #ffffff;
    transition: all 0.1s ease;
}

.chat-room-input 
.input-group textarea {
    line-height: 25px;
    /*overflow: hidden;*/
}

.chat-room-input 
.input-group button {
    height: 61px;
}

.chat-room-input 
.attachments-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 150px;
    top: -150px;
    background: #f2f2f2;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,.175);
    z-index: 991;
}

.chat-room-input 
.attachments-container.visible {
    display: block;
}

.chat-room-input 
.attachments-container input {
    display: none;
}

.chat-room-input
.progress {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 1px;
    z-index: 999;
}

.chat-room-input 
.attachments-container
.attachment-card {
    display: inline-block;
    width: 130px;
    height: 140px;
    position: relative;
    float: left;
    overflow: hidden;
    word-break: break-all;
    padding: 10px;
}

.chat-room-input 
.attachments-container
.attachments-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-position: center !important;
    background-size: contain !important;
    width: 100px;
    height: 80px;
}

.chat-room-input 
.attachments-container
.attachments-group.video-attachment {
    background: url(images/video-placeholder.jpg);
}

.chat-room-input 
.attachments-container
.attachments-group.image-attachment {
    background: url(images/image-placeholder.jpg);
}

.chat-room-input 
.attachments-container
.attachments-group.audio-attachment {
    background: url(images/audio-placeholder.jpg);
}

.chat-room-input 
.attachments-container
.attachments-group.document-attachment {
    background: url(images/document-placeholder.jpg);
}


.chat-room-input 
.attachments-container
.attachment-card
.label {
    width: 100px;
    font-size: 0.7em;
    word-break: break-word;
    text-align: center;
}

.chat-room-input 
.attachments-container
.attachments-group 
span.badge {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
}

.chat-room-input 
.attachments-container
.attachments-group 
button.badge {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    transform: translate(50%, -50%);
}

.chat-room-input 
.attachments-container
.close-btn {
    display: none;
    position: absolute;
    right: 0px;
    top: -38px;
}

.chat-room-input 
.attachments-container.visible
.close-btn {
    display: block;
}

.chat-room-input .btn {
    width: 60px;
    border-color: #dee2e6 !important;
}

.chat-room-input 
.bg-gradient {
    background: #343a40;
    background: -moz-linear-gradient(left, #343a40 0%, #557cff 100%);
    background: -webkit-linear-gradient(left, #343a40 0%,#557cff 100%);
    background: linear-gradient(to right, #343a40 0%,#557cff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#557cff',GradientType=1 );
}

.chat-room-input 
.btn-dark:hover  {
    background: #1d2124;
    background: -moz-linear-gradient(left, #23272b 0%, #343a40 100%);
    background: -webkit-linear-gradient(left, #23272b 0%,#343a40 100%);
    background: linear-gradient(to right, #23272b 0%,#343a40 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23272b', endColorstr='#343a40',GradientType=1 );
}

.chat-room-input 
.btn-primary:hover  {
    background: #0062cc;
    background: -moz-linear-gradient(left, #557cff 0%, #0069d9 100%);
    background: -webkit-linear-gradient(left, #557cff 0%,#0069d9 100%);
    background: linear-gradient(to right, #557cff 0%,#0069d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557cff', endColorstr='#0069d9',GradientType=1 );
}

.chat-room-input 
.area-container {
    height: 100%;
    padding: 3px !important;
}

.chat-room-input 
.area-container textarea {
    height: 100%;
}

.chat-room-list-placeholder-container {
    display: inline-block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 50px;
    text-align: center;
}

.chat-room-list-element p {
    color: #5f5f5f;
    font-size: 0.8rem;
    min-height: 20px;
	line-height: 20px;
	margin: 0px;
}

.chat-room-list-element
p.title {
    font-weight: bold;
    color: #2f2f2f;
    font-size: 0.9rem;
}

.chat-room-list-element p:last-child {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.8rem;
    color: gray;
}

.chat-room-list-element
.profile-avatar {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.chat-room-log-load-more {
    text-align: center;
    padding: 10px;
}

.chat-room-log-message img {
    cursor: pointer;
}

.message-image:hover {
    box-shadow: inset 0px 0px 20px 0px black;
}

.message-image {
    position: relative;
    height: 200px;
    width: 200px;
    box-shadow: inset 0px 0px 20px 0px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.message-image-filter {
}

.chat-room-log-message {
    padding: 0.6rem !important;
    position: relative;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    min-width: 50px;
    text-align: left;
    box-shadow: 0px 0px 3px 0px #bbbbbb;
    background: #ffffff;
    white-space: pre-wrap;
}

.messages-status-glyph {
    position: absolute;
    right: 10px;
    top: 0px;
}

.chat-message-outgoing {
	text-align: right;
	margin-right: 2%;
    line-height: 24px;
}

.chat-message-outgoing 
.chat-room-log-message {
    border-radius: 20px 0px 0px 20px;
}

.chat-message-incoming 
.chat-room-log-message {
    border-radius: 0px 20px 20px 0px;
}

.chat-message-incoming {
	text-align: left;
    line-height: 24px;
}


.chat-message-outgoing
.last-message-radius {
    border-radius: 20px 20px 0px 20px;
}

.chat-message-incoming
.last-message-radius {
    border-radius: 20px 20px 20px 0px;
}

.margin-top-3p {
    margin-top: 3px !important;
}

.line-height-1 {
    line-height: 1px !important;
}

.chat-message-outgoing .chat-room-log-message {
	background: #343a40;
	color: #ffffff;
}

@keyframes backgroundChange {
	to {
		background-color: black;
		color: white;
	}
}

.get-height-for-text-div {
    position: absolute;
    left: -1000px;
    top: -1000px;
    word-break: break-word;
    white-space: pre-wrap;
}

.message-status-icon {
    color: #9fa4a9;
    display: inline-block;
    float: right;
}

.message-status-container {
    display: inline-block;
    float: right;
}

.message-status-timestamp {
    color: #9fa4a9;
    display: inline-block;
    float: right;
    margin-left: 10px;
    font-size: 0.9em;    
    line-height: 24px;
}

.bg-white-no-opacity > div {
    background: rgba(255, 255, 255, 1) !important;
}

.toast-body {
    word-break: break-all;
}

.gradient {
    width: 100%;
    height: 5%;
    position: absolute;
    background: black;
    z-index: 980;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}